<% include partials/iframe_header %>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">查询条件</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <span>地市：</span>
                            <input type="text" class=".col-xs-4" id="s_area" placeholder="请输入地市名称"/>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a class="btn btn-default btn-sm" href="javascript:void(0)" id="appkey-search"><i
                                        class="glyphicon glyphicon-search"></i>
                                查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="margin-bottom:auto">
                <div class="box-header with-border">
                    <b>工具栏： </b>
                    <caption>
                        <button type="button" class="btn btn-default" id="appkey_refresh"><i
                                    class="fa fa-refresh icon-white"></i> 刷新
                        </button>
                        <% if(permissions.add) { %>
                        <button type="button" class="btn btn-success" id="appkey_add" data-toggle="modal"
                                data-target="#e-dialog-user" data-whatever=""><i
                                    class="glyphicon glyphicon-edit icon-white"></i> 新增
                        </button>
                        <%}%>
                        <% if(permissions.update) { %>
                        <button type="button" class="btn btn-info" id="appkey_edit" data-toggle="modal" id="appkey-edit"><i
                                    class="fa fa-edit icon-white"></i> 编辑
                        </button>
                        <%}%>
                        <% if(permissions.delete) { %>
                        <button type="button" class="btn btn-danger" id="appkey_batch_remove"><i
                                    class="fa fa-remove icon-white"></i> 删除
                        </button>
                        <%}%>
                        <button type="button" class="btn btn-info" id="appkey_find" onclick="optionUserData(this);"><i
                                    class="glyphicon glyphicon-zoom-in icon-white"></i> 详情
                        </button>
                    </caption>
                    <!--<h3 class="box-title">用户列表</h3>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users" class="table datatable table-bordered table-hover">
                        <thead>
                        <tr>
                            <th><input value="all" type="checkbox"
                                       onclick="$('.datatable tbody :checkbox').prop('checked', this.checked);"/>
                            </th>
                            <th>地市名称</th>
                            <th>appkey</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<div class="modal fade" id="e-dialog-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">用户修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="e-menu-role-form">
                    <div class="box-body">
                        <input type="hidden" data-name="e_id" name="e_id" id="e_id"/>
                        <div class="form-group">
                            <label for="area" class="col-sm-2 control-label">地市</label>
                            <div class="col-sm-10">
                        </div>
                        </div>
                        <div class="form-group" id="form-password">
                            <label for="appkey" class="col-sm-2 control-label">appkey</label>
                            <div class="col-sm-10">
                                <input type="appkey" class="form-control" id="e_appkey" name="e_appkey"
                                       placeholder="请输入appkey">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveUser">保存</button>
            </div>
        </div>
    </div>
</div>
<% include partials/iframe_footer %>

<!-注入权限参数给datatable 中操作按钮使用->
<script type="application/javascript">
    var permissions = JSON.parse('<%- JSON.stringify(permissions) %>');
</script>

<script src="/javascripts/md5.js"></script>
<script src="/service/appkey_manage.js"></script>
