<% include partials/iframe_header %>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">查询条件</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <span>地市：</span>
                            <input type="text" class=".col-xs-4" id="s_area" placeholder="请输入地市名称" />
                            <span>状态：</span>
                            <select class="selectpicker" id="se_status" name="se_status">
                                <option value="0" selected="selected"></option>
                                <option value="1">待审核</option>
                                <option value="2">审核通过</option>
                                <option value="3">审核不通过</option>
                                <option value="4">已发布</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a class="btn btn-default btn-sm" href="javascript:void(0)" id="template-search"><i class="glyphicon glyphicon-search"></i>
                                查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="margin-bottom:auto">
                <div class="box-header with-border">
                    <b>工具栏： </b>
                    <caption>
                        <button type="button" class="btn btn-default" id="template_refresh"><i class="fa fa-refresh icon-white"></i> 刷新
                        </button>
                         <% if(permissions.add) { %>
                        <button type="button" class="btn btn-success" id="template_add" data-toggle="modal"
                                data-target="#e-dialog-add-template" data-whatever=""><i
                                    class="glyphicon glyphicon-edit icon-white"></i> 新增
                        </button>
                        <%}%> 
                        <% if(permissions.update) { %>
                        <button type="button" class="btn btn-info" id="template_edit" data-toggle="modal"><i class="fa fa-edit icon-white"></i> 发布
                        </button>
                        <%}%>
                         <% if(permissions.delete) { %>
                        <button type="button" class="btn btn-danger" id="template_batch_remove"><i class="fa fa-remove icon-white"></i> 删除
                        </button>
                        <%}%> 
                        <!-- <button type="button" class="btn btn-info" id="template_find" onclick="optionUserData(this);"><i
                                    class="glyphicon glyphicon-zoom-in icon-white"></i> 详情
                        </button> -->
                    </caption>
                    <!--<h3 class="box-title">用户列表</h3>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="users" class="table datatable table-bordered table-hover">
                        <thead>
                        <tr>
                            <th><input value="all" type="checkbox"
                                       onclick="$('.datatable tbody :checkbox').prop('checked', this.checked);"/>
                            </th>
                            <th>模板名</th>
                            <th>地市名称</th>
                            <th>模板样式</th>
                            <th>启用时间</th>
                            <th>停用时间</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<div class="modal fade" id="e-dialog-template" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">模板操作</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="e-template-form">
                    <div class="box-body">
                        <input type="hidden" data-name="e_id" name="e_id" id="e_id"/>
                        <input type="hidden" data-name="e_opr" name="e_opr" id="e_opr"/>
                        <div class="form-group" >
                            <label for="name" class="col-sm-2 control-label">模板名</label>
                        <div class="col-sm-10">
 <input type="text" class="form-control" id="e_name" name="e_name"
                    >                                     
                    </div>
                        </div>
                        <div class="form-group" >
                            <label for="area" class="col-sm-2 control-label">地市</label>
                        <div class="col-sm-10">
 <input type="text" class="form-control" id="e_area" name="e_area"
                    readonly = "readonly" >                                     
                        </div>
                        </div>
                            <legend>模板</legend>
                        <div class="form-group" id="template_top" name="template_top">
                            <label for="e_template_top" class="col-sm-2 control-label">上</label>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="2" id="e_template_top" name="e_template_top"
                                       placeholder="请设置顶部" style="font-size:12pt;line-height:14pt" ></textarea><label id="template_desc">#表示空格</label>
                    </div>
                        </div>
                        <div class="form-group" id="template_main" name="template_main">
                            <label for="e_template_main" class="col-sm-2 control-label">主体</label>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="2" id="e_template_main" name="e_template_main"
                                       placeholder="主体" style="font-size:12pt;line-height:14pt" readonly = "readonly"></textarea><label id="template_desc">#表示空格</label>
                                   
                        </div>
                        </div>
                        <div class="form-group" id="template_bottom" name="template_bottom">
                            <label for="e_template_bottom" class="col-sm-2 control-label">下</label>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="2" id="e_template_bottom" name="e_template_bottom"
                                       placeholder="请设置底部" style="font-size:12pt;line-height:14pt" ></textarea><label id="template_desc">#表示空格</label>
                        </div>
                        </div>
                        <hr></hr>
                        <div class="form-group" id="form-starttime">
                            <label for="template" class="col-sm-2 control-label">启用时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-inline input-sm datetimepicker"  id="e_start_time" name="e_start_time"
                                       placeholder="请输入启用时间">
                            </div>
                        </div>
                        <div class="form-group" id="form-endtime">
                            <label for="template" class="col-sm-2 control-label">停用时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-inline input-sm form_datetime" id="e_end_time" name="e_end_time"
                                       placeholder="请输入停用时间">
                            </div>
                        </div>
                        <div class="form-group" id="form-status">
                            <label for="template" class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-10">
                                  <select class="selectpicker"  id="s_status" name="s_status" >
                                    <option value="1" selected="selected">待审核</option>
                                    <option value="2" >审核通过</option>
                                    <option value="3" >审核不通过</option>
                                  </select>

                            </div>
                        </div>
                        <div class="form-group" id="form-preview">
                            <label for="template" class="col-sm-2 control-label">预览</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="e_preview" name="e_preview"
                                style="font-size:12pt;line-height:14pt"     readonly = "readonly"></textarea><label id="template_password_desc">XXX表示原始字符串</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveTemplate">保存</button>
            </div>
        </div>
    </div>
</div>
<% include partials/iframe_footer %>

                        <!-注入权限参数给datatable 中操作按钮使用->
                            <script type="application/javascript">
                                var permissions = JSON.parse('<%- JSON.stringify(permissions) %>');
                                $('#e_start_time').datetimepicker({
                                    format: 'Y-m-d',
                                    timepicker: false
                                });
                                $('#e_end_time').datetimepicker({
                                    format: 'Y-m-d',
                                    timepicker: false
                                });
                            </script>

                            <script src="/javascripts/md5.js"></script>
                            <script src="/service/template_manage.js"></script>
